<style>

.container[[ID]] {
	width: 100%;
	display: inline-block;
}
 
.galleryItem[[ID]] {
	max-width: 100%;
	/*
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	*/
}



/* MEDIA QUERIES*/



@media screen and (min-width: 690px)
.galleryItem[[ID]] {
width: 16%;
max-height: 86px;
margin: .32%;
}

@media screen and (min-width: 540px)
.galleryItem[[ID]] {
width: 19%;
max-height: 76px;
margin: .5%;
}

@media screen and (min-width: 400px)
.galleryItem[[ID]] {
width: 24%;
max-height: 77px;
margin: .5%;
}

@media screen and (min-width: 270px)
.galleryItem[[ID]] {
width: 32%;
max-height: 69px;
margin: .65%;
}

@media screen and (min-width: 140px)
.galleryItem[[ID]] {
width: 48%;
max-height: 73px;
margin: 1%;
}

.galleryItem[[ID]] {
min-height: 40px;
height: 97px;
}

.galleryItem[[ID]] {
max-width: 130px;
max-height: 97px;
width: 46%;
margin: 1%;
text-align: center;
overflow: hidden;
position: relative;
display: inline;
display: inline-block;
vertical-align: top;
float:left;
}
.galleryItem[[ID]]{
display: block;
}

.galleryItem[[ID]] a {
color: #4C6B8F;
text-decoration: none;
cursor: pointer;
}











</style>